.header {
    height: 34vw;
    margin: 30px auto;
    background: url('https://img.freepik.com/free-photo/overhead-shot-different-fresh-vegetables-put-together-black-background_181624-26067.jpg?t=st=1738574689~exp=1738578289~hmac=558c05a7e85f909f5602a1756999dbf08e0d40b63b382d63d54b940ac3f08e0e&w=996') no-repeat;
    background-size: cover;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: #eef5eb;
    text-shadow: 1px 2px 2px black;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: #eef5eb;
    text-shadow: 1px 2px 2px black;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

:root .buttonwl {
    color: black;
}

.lightcolors .buttonwl {
    color: #747474;
}


@media (max-width:1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width:750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}